<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>리뷰게시판</title>
</head>
<link rel="stylesheet" href="/css/board.css">
<body>
{{>layout/header}}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-sm-8"><h2 class="ps-5 mt-5"><a href="/user/review/listPage?num=1">리뷰게시판</a></h2></div>
            <div class="col-sm-4">
                <div class="d-flex pe-5 mt-5">
                    <div class="d-flex">
                        <input type="hidden" id="num" name="num" value="{{page.pageNum}}">
                        <select class="border-success rounded-3" id="searchType" name="searchType">
                            <option value="title" {{#title}}selected{{/title}}>제목</option>
                            <option value="content" {{#content}}selected{{/content}}>내용</option>
                            <option value="mem_nickname" {{#mem_nickname}}selected{{/mem_nickname}}>작성자</option>
                        </select>
                        <input class="form-control ms-2 me-2" type="text" id="keyword" name="keyword" placeholder="Search"
                               aria-label="Search" value="{{keyword}}">
                        <button class="btn btn-outline-success" onclick="optionChange('search')">Search</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{#list}}
                    <div class="col p-5">
                        <div class="card rounded-3 shadow-sm">
                            <a href="/user/review/detail/{{rNum}}" style="text-decoration-line:none;">
                                {{#randomNumber}}
                                    <img src="/img/local/{{lNum}}/{{lNum}}-{{randomNumber}}.jpg"
                                         class="card-img-top w-100" style="height: 242px;">
                                    <div class="card-body rounded-3 p-0 w-100">
                                        <h6 class="text-muted ms-3 mt-3">{{member.memNickName}}</h6>
                                        <p class="card-text m-3">{{title}}</p>
                                    </div>
                                    <div class="card-img-overlay rounded-3 p-0">
                                        <div class="card-body align-text-top text-end p-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <h6 class="h6">{{local.kName}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                {{/randomNumber}}
                            </a>
                        </div>
                    </div>
                {{/list}}
            </div>
        {{^list}}
            <div class="center mt-5 mb-5 pb-5">
                <h1><i class="bi bi-search"></i></h1>
                <h3 class="pb-3">검색조건과 일치하는 리뷰글이 없습니다.</h3>
            </div>
        {{/list}}
    </div>
    <div class="d-flex justify-content-center align-items-center py-4 my-5 h5">
        <span>
    {{#page.hasPrevious}}
        <a class="ms-3 text-muted" onclick="optionChange('num', 1)"><i class="bi bi-chevron-double-left"></i></a>

                <a class="ms-3 text-muted" onclick="optionChange('num', {{page.pageDown}})"><i
                        class="bi bi-chevron-left"></i></a>
    {{/page.hasPrevious}}
    </span>

    <div id="pageList">
    </div>

    <span>
    {{#page.hasNext}}
        <a class="ms-3 text-muted" onclick="optionChange('num', {{page.pageUp}})"><i
                class="bi bi-chevron-right"></i></a>
                <a class="ms-3 text-muted" onclick="optionChange('num', {{page.lastPageNum}})"><i
                        class="bi bi-chevron-double-right"></i></a>
    {{/page.hasNext}}
        </span>
    </div>
    {{#user}}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="btn-group" role="group" aria-label="First group">
                <button type="button" class="btn btn-success" id="write">글쓰기</button>
            </div>
        </div>
    {{/user}}
</div>
<input type="hidden" id="lastPageNum" value="{{page.lastPageNum}}"/>
{{>layout/footer}}
<script src="/js/board/board.js"></script>
<script>
    function optionChange(type, param) {
            const urlParams = new URLSearchParams(location.search);
            switch (type) {
                case 'resetTag':
                    urlParams.delete("sort");
                    urlParams.delete("area");
                    break;
                case 'sortTag':
                    urlParams.set("sort", param);
                    break;
                case 'areaTag':
                    urlParams.set("area", param);
                    break;
                case 'num':
                    urlParams.set("num", param);
                    break;
                case 'search':
                    const type = document.getElementById('searchType').value;
                    const keyword = document.getElementById('keyword').value;

                    urlParams.set("num",1);
                    urlParams.set("searchType", type);
                    urlParams.set("keyword", keyword);
            }
            location.href = '/user/review/listPage?' + urlParams.toString();
        }

</script>
</body>
</html>