<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cos.gowalk.repository.AdminRepository">

    <select id="userList" resultType="com.cos.gowalk.model.Member">
        select
                ROW_NUMBER() OVER (ORDER BY mem_num DESC) AS rn,
                mem_num,
                mem_id,
                mem_name,
                mem_address1,
                create_Dt
        from member
    </select>

    <select id="boardList" resultType="com.cos.gowalk.model.Board">
        select *
        from board
    </select>

    <select id="noticeList" resultType="com.cos.gowalk.model.Notice">
        select *
        from notice
    </select>


</mapper>